body {
  background-color: #151B54;
}

h1 {
  text-align: center;
  color: white;

}

a {
  text-decoration: none;
  font-size: 25px;
  color: white;
  margin: 20px 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

